package database

import (
	"context"
	"fmt"

	"[[.ModuleName]]/internal/config"
	"github.com/redis/go-redis/v9"
)

// ConnectToRedis creates a Redis client.
func ConnectToRedis(cfg *config.Configuration) (*redis.Client, error) {
	client := redis.NewClient(&redis.Options{
		Addr:     fmt.Sprintf("%s:%d", cfg.Redis.Host, cfg.Redis.Port),
		Password: cfg.Redis.Password,
		DB:       cfg.Redis.DB,
	})

	if err := client.Ping(context.Background()).Err(); err != nil {
		return nil, fmt.Errorf("failed to connect to redis: %w", err)
	}
	return client, nil
}
