package database

import (
	"fmt"

	"[[.ModuleName]]/internal/config"
	"github.com/jmoiron/sqlx"
	_ "github.com/go-sql-driver/mysql"
)

// ConnectToMySQL creates a sqlx-managed MySQL connection pool.
func ConnectToMySQL(cfg *config.Configuration) (*sqlx.DB, error) {
	dsn := fmt.Sprintf(
		"%s:%s@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=UTC",
		cfg.MySQL.User,
		cfg.MySQL.Password,
		cfg.MySQL.Host,
		cfg.MySQL.Port,
		cfg.MySQL.Name,
	)

	db, err := sqlx.Connect("mysql", dsn)
	if err != nil {
		return nil, fmt.Errorf("failed to connect to mysql: %w", err)
	}

	db.SetMaxIdleConns(cfg.MySQL.MaxIdleConns)
	db.SetMaxOpenConns(cfg.MySQL.MaxOpenConns)

	return db, nil
}
